.container-main-dashboard {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 1440px;
}

.master-dashboard::before {
  content: "";
  position: "absolute";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: "rgba(255,255,255,.5)";
}

.container {
  display: grid;
  grid-template-columns: 60% 1fr;
  max-width: 1440px;
  margin: 60px auto;
}
.content {
  padding-right: 30px;
}
.sidebar {
  padding-left: 30px;
}
.sidebar form {
  padding: 20px;
  background: #1f9751;
  border-radius: 10px;
}
.sidebar input, .sidebar select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  color: #555;
  font-size: 1em;
}
.sidebar label {
  margin: 0 auto 20px;
  display: block;
  color: #fff;
}
.sidebar button {
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 12px;
  background-color: transparent;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
}
.sidebar h3 {
  color: #1f9751;
  margin-bottom: 20px;
}
.sidebar aside {
  margin-top: 40px;
  color: #555;
}
.sidebar aside li {
  margin: 10px;
}

/* transactions */
.transactions li {
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-left: 4px solid #1f9751;
}
.transactions .name {
  color: #777;
  font-size: 1.4em;
}
.transactions .amount {
  margin-left: auto;
  margin-right: 40px;
  color: #777;
  font-weight: bold;
  font-size: 1.6em;
}
.transactions button {
  position: absolute;
  top: 0;
  right:0;
  background: #ddd;
  color: #777;
  border: none;
  padding: 12px 8px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}

.world-creation label {
  display: inline-block;
  margin: 2em 0 0 0;
}
.world-creation input {
  width: 100%;
  padding: 1.5em;
}

.world-creation textarea {
  width: 100%;
}

.world-preview,
.character-preview {
  width: 100%;
}
.world-preview li > p {
  width: 300px;
  word-break: break-all;

}

.character-preview {
  position: sticky;
  top: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.css-button-neumorphic {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #efefef;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #585858;
} 

.nextBtn {
  margin-left: auto;
}

.css-button-neumorphic-validate {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3fd478;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #fff;
}
.css-button-neumorphic-validate:disabled {
  background: #333;
}
.css-button-neumorphic-validate:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}



.css-button-neumorphic:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

.character-card-preview {
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  height: 500px;
  padding: 5px 10px;
}


.block.timelines {
  background: #222227;
}

.timeline-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

.timeline-button {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: start;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.timeline-step {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.96);
  background: rgba(31,151,81, 0.5);
}

.step-active {
  background-color: rgba(31,151,81, 1);
}

.timeline-button:not(:last-child)::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  height: 4px;
  width: 75%;
  background: rgba(31,151,81, 0.3);
}

.timeline-button:disabled .timeline-step {
  color: #a19eab;
}

.has-error {
  border: red solid 2px;
}

.info-msg {
  border: #3fd478 3px solid;
  padding: 2em;
  margin-top: 2em;
}


@media screen and (max-width: 640px	) {
  .container-main-dashboard {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 1024px	) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    place-items: center;
    margin: 60px auto;
  }

  .world-creation input {
    width: 100%;
    padding: 1em;
  }
  .content {
    padding-right: 0;
  }
  .sidebar {
    padding-left: 0;
  }
}