/* navbar styles */
.navbar {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2em;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.navbar button, .navbar a {
  margin-left: 16px;
}
.navbar a {
  color: #333;
  text-decoration: none;
}

.btn {
  color: #fff;
  background: transparent;
}