.traitInputContainer {
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow:  10px 10px 10px #d5d5d5,
                -10px -10px 10px #ffffff;
}
.validated {
   background-color: #3fd478;
}

.traitInputContainer input:not(.trait-input) {
    width: 100%;
    padding: 0.5em;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
}
.points-input{
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2em;
    justify-content: space-between;
}
.trait-input {
    padding: 0.5em;
    flex-grow: 12;
}
.trait-point-button {
    padding: 0.5em;
    flex-grow: 1;
    cursor: pointer;
}
.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete-trait-input {
    display: inline-block;
    padding: .5em;
    border: unset;
    background-color: '#333';
    border-radius: 10px;
    cursor: pointer;
}

.error {
    margin-top: 2em;
    color: red;
}

.has-error {
    border: red 1px solid;
}