.signup-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
  }
  .signup-form label {
    display: block;
    margin: 30px auto;
  }
  .signup-form .checkboxes {
    display: inline-block;
    margin-bottom: 2em;
  }
  .signup-form span {
    display: block;
    margin-bottom: 6px;
  }
  .signup-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
  }
  .signup-form fieldset {
    margin-bottom: 2em;
  }
  .signup-form .radio-selector {
    width: 5%;
    margin: 0 1em;
  }