@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.btn {
  background: none;
  border: 2px solid #000067;
  padding: 6px 12px;
  border-radius: 4px;
  color: #000067;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.btn:hover {
  background: #000067;
  color: #fff;
}


.css-button-neumorphic {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: rgb(236, 210, 120);
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #fff;
} 

.css-button-neumorphic-validate {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: rgba(0, 0, 103,1);
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #fff;
} 

.css-button-neumorphic-cancel {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: rgba(255, 72, 72, 1);
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #fff;
} 

.css-button-neumorphic:active,
.css-button-neumorphic-validate:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}