/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.character-traits-section{
  margin: 2em 0;
}

.character-number{
  font-size: 1.5rem;
}

.character-card-preview {
  padding: 1.5rem;
  background: #3fd478;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
}
.character-creation {
    display: flex;
    flex-direction: column;
}

.character-creation > input:not([type=number]) {
    width: 100%;
    padding: 1.5em;
  }

.traitnum-input-group {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}



.traitinput-number{
    display: none;
    
}

.traitnum-input-btn{
    cursor: pointer;
    padding: .8em 1em;
}

.submit-btn{
    border: unset;
    padding: 1.25em;
    background-color: green;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
}
.validate-button-container{
  display: flex;
  justify-content: end;
}

.css-button-neumorphic-validate {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3fd478;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #fff;
}