.summary-card {
    border-radius: 10px;
    box-shadow:  10px 10px 10px #d5d5d5,
                -10px -10px 10px #ffffff;
}


.card-body {
    padding: 2em;
}

.summary-character {
    margin-top: 2em;
}